{% extends 'base.html' %}

{% block title %} ToDo List {% endblock%}


{% block content %}

{% if messages %}



{% for message in messages %}

<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

{% endfor %}
{% endif %}


{% if items %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">S/N</th>
        <th scope="col">Item</th>
        <th scope="col">Completed</th>
        <th scope="col">Delete</th>
      
      </tr>
    </thead>
    <tbody>


        {% for item in items %}
        {% if item.completed %}
        <tr class="table-secondary">
            <th scope="row">{{item.id}}</th>
            <td class="text-decoration-line-through text-danger"> {{item.item}}</td>
            <td> <a href="{% url 'uncross' item.id %} ">Uncrossed </a> </td>
            <td> <a href="{% url 'edit' item.id %} ">Edit </a> </td>
            <td> <a href="{% url 'delete' item.id %}"><i class=" btn btn-danger bi bi-trash"></i>  </a></td>
        
        </tr>
        {% else %}

        <tr >
            <th scope="row">{{item.id}}</th>
            <td> {{item.item}}</td>
            <td> <a href="{% url 'completed' item.id %} ">Crossed off</a> </td>
            <td> <a href="{% url 'edit' item.id %} ">Edit</a> </td>
            <td> <a href="{% url 'delete' item.id %}"><i class=" btn btn-danger bi bi-trash"></i>  </a> </td>
          
          </tr>

          {% endif %}

      {% endfor %}
    </tbody>
  </table>

{% endif %}
{% endblock %}

